<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate>
  <input type="text" name="username" value="{{user.username}}" style="display:none;" autocomplete="username">
  <div class="modal-body">
    <div class="modal-header mb-3">
      <h4 class="modal-title">Change Password: {{user.name}}</h4>
      <fa-icon [icon]="'xmark'" [styles]="{'cursor': 'pointer'}" size="2x" (click)="closeModal()"></fa-icon>
    </div>

      <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>

    <div class="form-group" *ngIf="currentPasswordRequired">
      <label>Current Password</label>
      <input type="password" name="currentPassword" id="currentPassword" formControlName="currentPassword" class="form-control"
        autocomplete="password">
      <span class="text-danger">
        <ng-container *ngIf="f['currentPassword']?.invalid && f['currentPassword']?.touched">
          Current Password is required
        </ng-container>
        &nbsp;
      </span>
    </div>

    <div class="form-group">
      <label>New Password</label>
      <input type="password" name="password" id="password" formControlName="password" class="form-control"
        autocomplete="new-password">
      <span class="text-danger" >
        <ng-container *ngIf="f['password']?.invalid && f['password']?.touched">
          New Password is required
        </ng-container>
        &nbsp;
      </span>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" name="confirm" id="confirm" formControlName="confirm" class="form-control"
        autocomplete="new-password">
      <span class="text-danger">
        <ng-container *ngIf="f['confirm'] && f['confirm'].errors && f['confirm'].touched">
          <ng-container *ngIf="f['confirm'].errors['required']">
            Confirm Password is required
          </ng-container>
          <ng-container *ngIf="f['confirm'].errors['match']">
              Passwords do not match
          </ng-container>
        </ng-container>
        &nbsp;
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" id="cancel" (click)="closeModal();">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" [disabled]="passwordForm.invalid">
      Change
    </button>
  </div>
</form>