<div class="container mt-5">
  <div class="card ms-auto me-auto p-3 shadow-lg custom-card">
    <fa-icon [icon]="'user-circle'" class="ms-auto me-auto site-blue mb-4" size="2x"></fa-icon>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="alert alert-danger text-center" *ngIf="errorMessage">
        {{errorMessage}}
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" formControlName="username" class="form-control"
          autocomplete="username">
        <span class="text-danger">
          <ng-container *ngIf="f['username']?.invalid && f['username']?.touched">
            Username is required
          </ng-container>
          &nbsp;
        </span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password" class="form-control"
          autocomplete="current-password">
        <span class="text-danger">
          <ng-container *ngIf="f['password']?.invalid && f['password']?.touched">
            Password is required
          </ng-container>
          &nbsp;
        </span>
      </div>

      <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="loginForm.invalid">Sign In</button>
    </form>
  </div>
</div>