<div class="container mt-5">
  <div class="card ms-auto me-auto p-3 shadow-lg custom-card">
    <fa-icon [icon]="faUser" class="ms-auto me-auto site-blue mb-4" size="2x"></fa-icon>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" id="name" class="form-control" formControlName="name">
        <span class="text-danger">
          <ng-container *ngIf="f['name']?.invalid && f['name']?.touched">
            Name is required
          </ng-container>
          &nbsp;
        </span>
      </div>

      <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" id="username" class="form-control" formControlName="username"
          autocomplete="username">
        <span class="text-danger">
          <ng-container *ngIf="f['username'] && f['username'].errors && f['username'].touched">
            <ng-container *ngIf="f['username'].errors['required']">
              Username is required
            </ng-container>
            <ng-container *ngIf="f['username'].errors['serverError']">
              {{f['username'].errors['serverError']}}
            </ng-container>
          </ng-container>
        </span>
        &nbsp;
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" id="password" formControlName="password" class="form-control"
          autocomplete="new-password">
        <span class="text-danger">
          <ng-container *ngIf="f['password']?.invalid && f['password']?.touched">
            Password is required
          </ng-container>
          &nbsp;
        </span>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" name="confirm" id="confirm" formControlName="confirm" class="form-control"
          autocomplete="new-password">
        <span cleass="text-danger">
          <ng-container *ngIf="f['confirm'] && f['confirm'].errors && f['confirm'].touched">
            <ng-container *ngIf="f['confirm'].errors['required']">
              Confirm Password is required
            </ng-container>
            <ng-container *ngIf="f['confirm'].errors['match']">
              Passwords do not match
            </ng-container>
          </ng-container>
          &nbsp;
        </span>
      </div>

      <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="registerForm.invalid">Register</button>

    </form>
  </div>
</div>