/* You can add global styles to this file, and also import other style files */
.custom-card {
    width: 350px;
    max-width: 100%;
    background-color: #eee!important;
}

.form-card {
    width: 800px;
}

.site-blue {
    color: rgb(80,195,195);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: rgb(80, 195, 195) !important;
}